.buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    button{
        padding: 1em;
        background-color: #9a7787;
        outline-color: none;
        border-radius: 10%;
        color: aliceblue;
        font: inherit;
    }
}
@media screen and (min-width: 700px ){
    .buttons{
        gap: 40px;
        button{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
@media screen and (min-width: 1080px ){
    .buttons{
        gap: 60px;
        button{
            padding-left: 50px;
            padding-right: 50px;
            font-size: 1.2em;
            font-weight: bold;
    }
}
}