main{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2em;
    background: #ebbcb5;
    h1{ font-size: 4em;
    margin: 0.5em;}
    h4{ margin-bottom: 20px;}
}