main{
    display: flexbox;
    flex-direction: row;
   
    color: white;
    padding: 2em;
    background: #fed7bf;
    h1{ font-size: 4em;
    margin: 0.5em;}
    h4{ margin-bottom: 20px;}
    .show_panel{
        display: flex;
    justify-content: center;
    align-items: center;
    }
}