.thing_panel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .t_name{
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 0.8em;

    }
    .t_type{ font-size: 0.7em;
        margin-bottom: 0.8em;}
    .t_desc{ font-size: 1em;
        margin-bottom: 0.8em;
       align-self: center;
    padding: 0.5em;}
margin: 0;
padding: 0;
width: 300px;
background-color: #b1a8b7 ;
}